{% include "header.html"%}
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Year</th>
                <th>Author</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for e in libros %}
            <tr>
                <td>{{e[0]}}</td>
                <td>{{e[1]}}</td>
                <td>{{e[2]}}</td>
                <td>{{e[3]}}</td>
                <td>
                    <img src="uploads/{{e[4]}}" alt="" class="img-thumbnail" width="100" height="100">
                </td>
                <td><a href="/edit/{{e[0]}}">Edit</a> - <a href="/destroy/{{e[0]}}">Erase</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% include "footer.html"%}